
$font-family: 'Open Sans';
$button-font-size: 1.3rem;

.f300{
  font-weight:300;
}
.f400{
  font-weight:400;
}
.f500{
  font-weight:500;
}
.f600{
  font-weight:600;
}
.f700 {
  font-weight: 700;
}
.fs12{
  font-size:1.2rem;
}
.fs13{
  font-size:1.3rem;
}
.fs14{
  font-size:1.4rem;
}
.fs10{
  font-size:1.0rem;
}




