$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
@import "colors";
@import "fonts";
@import "animations/animated";
@import "modules/header";
@import "modules/landing";
@import "modules/login";
@import "modules/home";
@import "modules/profile";
@import "modules/collections";

// Using box-sizing by default
*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
body, html{
  height:100%;
  width:100%;
  background:$background;
  margin:0;
  padding:0;
  font-size: 62.5%;
/*  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;*/
  font-family: $font-family;
}

body{
  font-size:1.4rem;
  color:$text-white;
}

#app{
  height:100%;
  width:100%;
}

ul{
  margin-bottom:0;
  padding-left:0;
}

/* Override Bootstrap UI elements */
a{
  &:hover, &:focus{
    text-decoration: none;
    color:$text-white;
  }
  color:$text-white;
}
p{
  margin-bottom:0;
}
.btn:focus, .btn.focus, .btn:active:focus, .btn:active.focus, .btn.active:focus, .btn.active.focus{
  outline:0;
}
a:focus{
  outline:0;
}
.form-control:focus{
  border:1px solid $text-white;
  box-shadow:none;
}
.form-control{
  box-shadow:none;
}
.btn{
  &:hover, &:focus, &:active{
    outline:0;
    color:$text-white;
  }
  padding:8px 38px;
  border-radius:40px;
  font-size:$button-font-size;
}

.btn-unfilled{
  background:none;
  color:$text-white;
  border:1px solid $button-border-color;
}


.input-group .form-control:first-child{
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
