
#home{
  height:100%;
  width:100%;


  section.home-container{

    height:100%;
    width:100%;

    #home-videos{
      width:100%;
      background:$background;

      .home-videos-container{
        max-width:1035px;
        margin:0px auto;
        padding:30px 0px;


        .video-card{

          &:hover{
            .video-actions{
              top:10px;
            }
          }
          width:325px;
          margin:10px;
          background:#FFFFFF;
          box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.10), 0px 1px 3px 0px rgba(0, 0, 0, 0.005);

          .video-header{
            position:relative;
            overflow:hidden;
            img{
              max-width:100%;
            }
          }


          .video-info, .video-source{
            background:rgba(30, 36, 42, 0.3);
            position:absolute;
            bottom:10px;
            border-radius:100px;
            height:25px;

          }

          .video-info{

            span.m-r, span.m-l{
              text-shadow:0px 1px 2px rgba(0, 0, 0, 0.2);
            }
            span.m-r{
              margin-right:9px;
            }
            left:10px;
            padding:2px 8px;
          }

          .video-source{
            right:10px;
            background:rgba(30, 36, 42, 0.3);
            p{
              padding:7px 15px;
              font-size:0.9rem;
              font-family: 'Montserrat';
              font-weight:400;
              letter-spacing:1px;
              text-shadow:0px 1px 2px rgba(0, 0, 0, 0.2);
            }
          }

          .video-body{
            p{
              padding:12px 0px;
              line-height:24px;
              letter-spacing:0.2px;
              color:#282828;
              font-size:1.6rem;
              text-align:center;
            }
          }

          .video-actions{
            position:absolute;
            right:10px;
            /*            top:10px;*/
            top:-34px;
            border-radius:1px;
            background:rgba(30, 36, 42, 0.3);
            -webkit-transition: .2s ease-in-out;
            transition: .2s ease-in-out;
            a{
              display:block;
              padding:6px 9px;
              border-radius:1px;
            }
          }


        }
      }
    }

  }

}
