<div id="home">
  <header class="home-header">

    <div class="home-header-container">

      <!-- Profile -->
      <div class="user-profile pull-right">
        <a href="javascript:;">
          <img src="images/home/default-avatar.png" alt="" width="25px" height="25px"/>
          <span class="f700 fs14">valentinchrt</span>
        </a>
      </div>

      <!--  Logo -->
      <div class="home-logo pull-left">
        <a href="javascript:;" title="Flppn logo">
          <img src="images/flppn-logo-black.svg" alt="Flppn logo" width="95px" height="14px"/>
        </a>
      </div>

      <!-- Search bar -->
      <div class="search-container">
        <div class="search-bar">
          <div class="input-group">
            <input type="text" class="form-control f600" placeholder="{{ 'home.search' | translate }}" aria-describedby="basic-addon2">
            <span class="input-group-addon" id="basic-addon2">
              <a href="javascript:;">
                <img src="images/home/hamburger-icon.svg" alt=""/>
              </a>
            </span>
          </div>
        </div>
      </div>
    </div>

  </header>



  <section class="home-container">

    <!-- Section videos -->
    <section id="home-videos">

      <div class="home-videos-container">
        <div class="video-card pull-left" data-ng-repeat="i in [1,2,3,4,5,6,7,8,9]">

          <div class="video-header">
            <a href="javascript:;">
              <img src="images/home/card-image.jpg" alt=""/>
            </a>

            <div class="video-info">
              <span class="m-r">
                <span class="ion-android-time fs12"></span>
                <span class="fs12">03:55</span>
              </span>

              <span class="m-l">
                <span class="ion-android-star-outline fs12"></span>
                <span class="fs12">4.5</span>
              </span>
            </div>

            <div class="video-source">
              <p class="text-uppercase">sources</p>
            </div>

            <div class="video-actions">
              <a href="javascript:;">
                <img src="images/home/add-icon.svg" alt="Add icon" height="14px" width="14px"/>
              </a>
            </div>

          </div>

          <div class="video-body">
            <p class="f600">Video's title</p>
          </div>

        </div>
        <div class="clearfix"></div>
      </div>

    </section>

  </section>
</div>
