<div id="home">
  <header class="home-header">

    <div class="home-header-container">

      <!-- Profile -->
      <div class="user-profile pull-right">
        <a href="javascript:;">
          <img src="images/home/default-avatar.png" alt="" width="25px" height="25px"/>
          <span class="f700 fs14">valentinchrt</span>
        </a>
      </div>

      <!--  Logo -->
      <div class="home-logo pull-left">
        <img src="images/flppn-logo-black.svg" alt="" width="95px" height="14px"/>
      </div>

      <!-- Search bar -->
      <div class="search-container">
        <div class="search-bar">
          <div class="input-group">
            <input type="text" class="form-control f600" placeholder="{{ 'home.search' | translate }}" aria-describedby="basic-addon2">
            <span class="input-group-addon" id="basic-addon2">
              <img src="images/home/hamburger-icon.svg" alt=""/>
            </span>
          </div>
        </div>
      </div>


    </div>



  </header>

  <div class="sub-header">
    <nav>
      <ul>
        <li>
          <a href="javascript:;">

          </a>
        </li>
      </ul>
    </nav>

  </div>

  <section class="home-container">

    <!-- Section videos -->
    <section id="home-videos">

    </section>

  </section>
</div>
