<div id="login-main">
  <div class="login-bg">
    <div class="login-main-container">
      <a href="javascript:;" class="pull-right btn-register f300">Vous n'avez pas de compte Flppn?</a>

      <!-- Login header -->
      <div class="login-header">
        <a href="javascript:;">
          <img src="images/flppn-logo.svg" alt="Flppn logo" width="95px" height="14px"/>
        </a>
      </div>


      <!-- Login container form -->
      <div class="login-box text-center">
        <p class="f600 fs14">Welcome on Flppn,</p>
        <p class="fs12">Please enter you login and enjoy your session.</p>

        <div class="login-form">
          <form action="">
            <div class="input-main">
              <div class="input-group">
                <input type="text" class="form-control"/>
                <div class="custom-icon">
                </div>
              </div>
              <div class="input-group">
                <input type="text" class="form-control"/>
                <div class="custom-icon">
                </div>
              </div>
            </div>
          </form>
          <a href="javascript:;"
             data-ng-click="login()"
             class="btn-unfilled btn-login fs13">Accéder à mon compte</a>
        </div>

      </div>


      <div class="login-footer">
        <p class="fs10">Copyright 2015 - Made with <3 in Paris</p>
      </div>
    </div>
  </div>
</div>
