<div id="login-main">
  <div class="login-bg">
    <div class="login-main-container">
      <a href="javascript:;" class="pull-right btn-register f300">
        {{ 'landing.noAccount' | translate }}
      </a>

      <!-- Login header -->
      <div class="login-header">
        <a href="javascript:;">
          <img src="images/flppn-logo.svg" alt="Flppn logo" width="95px" height="14px"/>
        </a>
      </div>


      <!-- Login container form -->
      <div class="login-box text-center">
        <p class="f600 fs14">
          {{ 'login.welcome' | translate }}
        </p>
        <p class="fs12">{{ 'login.info' | translate }}</p>

        <div class="login-form">
          <form action="" data-ng-submit="$event.preventDefault();login()">
            <div class="input-main">
              <div class="input-group">
                <img src="images/login/user-login.svg" alt="User icon" width="12px" height="12px"/>
                <input type="text" class="form-control fs12" placeholder="{{ 'login.username' | translate }}"/>
              </div>
              <div class="input-group">
                <img src="images/login/user-password.svg" alt="User icon" width="11.3px" height="14.8px"/>
                <input type="text" class="form-control fs12" placeholder="{{ 'login.password' | translate }}"/>
              </div>
            </div>

            <button
               type="submit"
               class="btn-unfilled btn-login fs13">
              {{ 'login.account' | translate }}
            </button>
          </form>

        </div>

      </div>


      <div class="login-footer">
        <p class="fs10">Copyright 2015 - Made with <span class="ion-android-favorite heart-icon"></span> in Paris</p>
      </div>
    </div>
  </div>
</div>
